global
    log /dev/log    local0 info alert
    log /dev/log    local1 notice alert
    stats timeout 30s
    daemon

    # Default SSL material locations
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private

    # Default ciphers to use on SSL-enabled listening sockets.
    # For more information, see ciphers(1SSL).
    ssl-default-bind-ciphers kEECDH+aRSA+AES:kRSA+AES:+AES256:RC4-SHA:!kEDH:!LOW:!EXP:!MD5:!aNULL:!eNULL

defaults
    log     global
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

listen rocketchat
    bind :3000
    mode   http
    option httpchk
    server dmzhost_devchat_1 dmzhost_devchat_1:3000 check
    server dmzhost_devchat_2 dmzhost_devchat_2:3000 check
    server dmzhost_devchat_3 dmzhost_devchat_3:3000 check

listen stats
    bind :1936
    mode http
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /
    stats auth "${STATS_AUTH}"
